#scroll-down {
    position: fixed;
    bottom: 10px;

    /*left: 50%;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;

    pointer-events: none;
    user-select: none;

    text-shadow:
        0 0 3px var(--bs-body-bg),
        0 0 6px var(--bs-body-bg),
        0 0 9px var(--bs-body-bg),
        0 0 12px var(--bs-body-bg);
}

.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .dt-paging {
        margin-right: 30px !important;
    }
}
